@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#020202;
    --secondary-color: #1a1a1a;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.loader-container{
    position: fixed;
    top:0; 
    left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:rgb(29, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container img{
    width:75px;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}
.logo{
    width: 10%;
    margin-bottom: -4%;
}
header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
    margin-left: 82%;
}


.search::placeholder{
    color: #ffffff;
}

.search:focus{
    opacity: 0.7;
    outline:0;
    background-color: #b4b4b4;
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #ffffff;
    width: 300px;
    margin: 1rem;
    position:relative;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
}

.movie img{
    width:100%;
}

.movie-info{
    color:rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(39, 189, 39);
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:rgb(189, 42, 42);
}

.overview{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #03045e;
    color: white;
    padding: 1rem;
    max-height: 100%;
    transform:translateX(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateX(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px 20px;
    background-color: #6abcff;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}
.tag:hover{
    background-color: #94d4ff;
    transition: 0.5s ease;
}

.tag.highlight{
    background-color: #d00000;
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid #6187c9;
    font-size: 20px;
    font-weight: 600;
}

.know-more{
    background-color: white;
    color:black; 
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
}
.know-more:hover{
    background-color: rgba(217, 249, 255, 0.904);
    box-shadow: 1px 1px 4px 7px rgba(242, 253, 255, 0.945);
    transition: 0.5s ease-in-out;
}
/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
 
  .overlay-content {
    position: relative;
    top: 10%; 
    width: 100%; 
    text-align: center;
    margin-top: 30px;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
 
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    
  }
  @media screen and (max-width: 750px) {
    .search{
        margin-left: 40%;
    }
    .logo{
        width: 33%;
        margin-bottom: -15%;
    }
    
  }


  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 40px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
  }

  
  .arrow.right-arrow{
    top:50%;
    transform: translateY(-50%);
    right:5%;
}

.dots{
    margin-top: 30px;
}

.dots .dot {
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.dots .dot.active{
    border-color: #619afc;
}